body {
    margin: 0;
    padding: 0;
    background: #E3E5D7;
    font-family: "Halogen";
    color: #3D3231;
    text-align: center;
}
@font-face {
    font-family: "seedy-motel";
    src: url(../font/seedy-motel.otf);
}
h1, h2, h3 {
    font-family: "seedy-motel";
    color: #3D3231;
}
h1 {
    font-size: 3em;
    letter-spacing:.02em;

}

h2 {
    font-size: 2em;
    letter-spacing:.02em;
}

h3 {
    font-size: 1.5em;
    letter-spacing:.02em;
}
a {
    color: #B57632;
}
header {
    background-color: #264653;
    padding-bottom: 8%;
}
#logo img{
    width:80%;
    display: block;
    margin: auto;
}

nav ul {
    padding: 0px 0px 0px 0px;
    list-style: none;
}
nav li {
    width: 50%;
    margin: auto;
    box-shadow: 1px 2px 5px #3d3231;
}
nav a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    font-family: 'Halogen';
    font-size: 1em;
    font-weight: 300;
    color: #E5B25D;
}
nav a:hover, nav .current_page_item a {
    text-decoration: underline;
    text-shadow: 0 0 0.2em #B57632, 0 0 0.2em #B57632,
        0 0 0.2em #B57632}
}
#content {
    text-align: center;
    padding-left:10%;
    padding-right:10%;
    padding-top: 2%;
    margin: auto;
}
#music img {
    margin: auto;
    display: block;
    width: 100%;
    box-shadow: 1px 2px 5px #3d3231;
}
#music {
    width: 80%;
    margin: auto;
}
figcaption {
    margin-top: 4%;
}
#rules {
    width:;
    margin: auto;
    background-color: #B57632;
    padding-top: 5%;
    padding-bottom: 5%;
}
#rules img {
    margin: auto;
    display: block;
    width: 60%;
    box-shadow: 1px 2px 5px #3d3231;
}
.droids {
}
.blasters {
}
footer {
    background-color: #264653;
    color: #E3E5D7;
    font-family: "Halogen-Thin";
    padding-top:4%;
    padding-bottom: 2%;
}
footer p {
    width: 80%;
    margin: auto;
    font-size: small;
}
#content h2, #music h2 {
    margin-bottom: -1%;
}
#history {
    margin: auto;
    background-color: #E5B25D;
    background-image: url(../img/tatooine-building-opq.png);
    background-size: cover;
    background-position: 50%;

}
#history p, #history h2 {
    margin:auto;
    width: 80%;
    padding-top: 2%
}
#history p {
    padding-bottom: 2%;
}
#bar-menu {
    width: 80%;
    margin: auto;
}
#bar-menu p {
    font-size: 1em;

}
