header {
    background-color: #264653;
}
#logo img{
    width:80%;
    display: block;
    margin: auto;
}
nav {
    margin: auto;
}

nav ul {
    margin: 0;
    padding: 0px 0px 0px 0px;
    list-style: none;
    line-height: normal;
}
nav a {
    display: block;
    line-height: 300%;
    text-decoration: none;
    text-align: center;
    font-family: 'Halogen';
    font-size: 1em;
    font-weight: 300;
    color: #E5B25D;
}
nav a:hover, nav .current_page_item a {
    text-decoration: underline;
}
